/*removing list styles */

.block {
	list-style:none;
	display: inline-block;
}

.inline {
	display: block;
	border: 1px solid black;
	margin: 25px;
}


/* Psuedo Classes */

.n-child section:nth-of-type(2n) { 
	border:1px solid purple;

}